<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.miun.antonsskafferi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        <activity android:name=".TablesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:label="@string/title_activity_tables"
            android:parentActivityName=".TablesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.miun.antonsskafferi.TablesActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="Rätter"
            android:parentActivityName=".OrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.miun.antonsskafferi.OrdersActivity" />
        </activity>
        <activity
            android:name=".KitchenActivity"
            android:label="Kök"
            android:parentActivityName=".OrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.miun.antonsskafferi.OrdersActivity" />
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="Inventering"
            android:parentActivityName=".TablesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.miun.antonsskafferi.TablesActivity" />

        </activity>
    </application>

</manifest>