#wrapper{
    background-color: red;
    height: 1000px;
    width: 800px;
    margin: 0 auto;
    overflow: hidden; 
    padding: 0px;
    border: 0px;
}

#meny{
    background-color: green;
    height: 50px;
    width: 1000px; 
    padding: 0px;
    border: px; 
    margin: 0 auto;
    overflow: hidden;
}

#bild{
    background-color: orange; 
    height: 630px;
    width: 1000px;
    overflow: hidden;
    
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%; 
    vertical-align: baseline;
    background: transparent;
}
